<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" id="CreateNewArtist" name="CreateNewArtist" value="false" />
  <input type="hidden" id="CreateNewAlbum" name="CreateNewAlbum" value="false" />

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= select("artist", "id", Artist.all.collect {|a| [ a.name, a.id ] }, { :include_blank => false }) %>
    
  </div>
  <div class="field">
    <%= select("album", "id", Album.all.collect {|a| [ a.title, a.id ] }, { :include_blank => false }) %>
  </div>
  <div class="field">
    <%= f.label :lyric %><br />
    <%= f.text_area :lyric %>
  </div>
  
  <div class="editor-field">
    <ul>
      <% if !@song.genres.nil? %>
        <% @song.genres.each do |genre| %>
          <li>
            <%= check_box_tag 'genre_ids[]', genre.id %>
            <%= h genre.name %>
          </li>
        <% end %>
  <% end %>
</ul>
    <br />
    <input type="text" id="NewGenre" name="NewGenre" />
    <a href="javascript:void(0)" onclick="addNewGenre()">Add New</a>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
