= form_for(@song) do |f|
  - if @song.errors.any? 
    %div#error_explanation
      %h2
        = pluralize(@song.errors.count, "error") 
        prohibited this song from being saved:

      %ul
        - @song.errors.full_messages.each do |msg|
          %li 
            = msg

  /<input type="hidden" id="CreateNewArtist" name="CreateNewArtist" value="false" />
  /<input type="hidden" id="CreateNewAlbum" name="CreateNewAlbum" value="false" />

  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.select :artist_id, options_from_collection_for_select(@artists, "id", "name")
  /- fields_for @song.artist do |artist_fields|
  /  .field
  /    = artist_fields.collection_select("song", "artist_id", Artist.all.collect {|a| [ a.name, a.id ] }, { :include_blank => false })
  .field
    = f.label :lyric
    %br
    = f.cktext_area :lyric 
  .actions
    = f.submit 

