<h1>Listing light_effects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Meta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @light_effects.each do |light_effect| %>
  <tr>
    <td><%= light_effect.name %></td>
    <td><%= light_effect.meta %></td>
    <td><%= link_to 'Show', light_effect %></td>
    <td><%= link_to 'Edit', edit_light_effect_path(light_effect) %></td>
    <td><%= link_to 'Destroy', light_effect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Light effect', new_light_effect_path %>
