<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @light_effect.name %>
</p>

<p>
  <b>Meta:</b>
  <%= @light_effect.meta %>
</p>


<%= link_to 'Edit', edit_light_effect_path(@light_effect) %> |
<%= link_to 'Back', light_effects_path %>
