<!DOCTYPE html>
%html
  %head
    %meta{charset:"utf-8"}
    %meta{"http-equiv"=>"X-UA-Compatible",content:"IE=Edge,chrome=1"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title
      = content_for?(:title) ? yield(:title) : "Faking The Dream" 
    
    = csrf_meta_tags
    
    = render 'shared/ie_scripts'
    
    = stylesheet_link_tag "application", :media => "all"

    / = favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'

    / = favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' 

    / = favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' 

    / = favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' 

    / = favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon'

    = javascript_include_tag "application"
    = javascript_include_tag "http://rt.fakingthedream.com/faye.js"

    %script{:type => "text/javascript", :src  => "/admin_js/admin.js"} 
    %script{:type => "text/javascript", :src  => "/admin_js/song_create_edit.js"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/admin/dashboard")
            Faking The Dream - Admin
          .container.nav-collapse
            %ul.nav
              %li
                = link_to "Songs", songs_path
              %li
                = link_to "Artists", artists_path 
              %li
                = link_to "Venues", venues_path
              %li
                = link_to "Tour Dates", tour_dates_path
            .pull-right
              = link_to('Logout', destroy_user_session_path, :method=>'delete') if user_signed_in?
    .container
      = yield 
